<!-- Header -->
<ion-header [translucent]="true" *ngIf="loaded" collapse="undefined" mode="ios">
  <ion-toolbar [style.background-color]="firebase.config.color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title size="large" style="height: 60px; text-align: center;">
      <img class="logo" alt="logo" [src]="firebase.config.logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Content -->
<ion-content [fullscreen]="true" *ngIf="loaded">
  <div class="myClass">
    <ion-card>
      <img src="assets/promocoes.png" width="100%"/>
      <div class="card-title">Promoções</div>
      <div class="card-subtitle">Acompanhe as promoções do dia</div>
    </ion-card>

  <ion-grid>
  <ion-row>
    <ion-col>

        <ion-item (click)="cadapio()" class="ion-activated">
          <div class="ion-text-center">
            <img src="assets/cardapio.png">
            <h3>Cardápio</h3>
          </div>
        </ion-item>

      </ion-col>
    <ion-col>

        <ion-item class="ion-activated">
          <div class="ion-text-center">
            <img src="assets/eventos.png">
            <h3>Eventos</h3>
          </div>
        </ion-item>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

          <ion-item (click)="carrinho()" class="ion-activated">
            <div class="ion-text-center">
              <img src="assets/acompanhar-pedido.png">
              <h3>Acompanhar pedido</h3>
            </div>
          </ion-item>

    </ion-col>
    <ion-col>

        <ion-item href="#" class="ion-activated">
          <div class="ion-text-center">
            <img src="assets/qr-code.png">
            <h3>Sobre nós</h3>
          </div>
        </ion-item>

    </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>